body
{
background-color:#CC6666;
}
#account
{
margin-left:50px;
font-size:25px;
}
#login
{
margin-left:95px;
font-size:20px;
}
#noaccount
{
margin-left:50px;
font-size:25px;
margin-top:10px;
}
#signup
{
margin-left:100px;
font-size:20px;
}

